build --incompatible_strict_action_env
build --verbose_failures
build --workspace_status_command "python3 workspace_status.py"
build:macos --define client_type=macos
build:macos --cxxopt=-std=c++20 --host_cxxopt=-std=c++20
build:android --define client_type=android
common --noenable_bzlmod
build:wasm --copt=-Wno-unused-variable --copt=-Wno-unused-but-set-variable --copt=-Wno-unused-function
build:wasm --copt=-Wno-int-conversion
build:wasm --copt=-Wno-incompatible-pointer-types
