[submodule "3rd/spdlog"]
	path = 3rd/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rd/doctest"]
	path = 3rd/doctest
	url = https://github.com/doctest/doctest.git
[submodule "3rd/glob"]
	path = 3rd/glob
	url = https://github.com/p-ranav/glob.git
[submodule "3rd/UniversalStacktrace"]
	path = 3rd/UniversalStacktrace
	url = https://github.com/MisterTea/UniversalStacktrace.git
[submodule "3rd/cpp-linenoise"]
	path = 3rd/cpp-linenoise
	url = https://github.com/yhirose/cpp-linenoise.git
[submodule "3rd/variant"]
	path = 3rd/variant
	url = https://github.com/mpark/variant.git
[submodule "3rd/optional"]
	path = 3rd/optional
	url = https://github.com/TartanLlama/optional.git
[submodule "3rd/filesystem"]
	path = 3rd/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "3rd/string-view-lite"]
	path = 3rd/string-view-lite
	url = https://github.com/martinmoene/string-view-lite.git
[submodule "3rd/fmt"]
	path = 3rd/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rd/subprocess"]
	path = 3rd/subprocess
	url = https://github.com/benman64/subprocess.git
[submodule "3rd/json"]
	path = 3rd/json
	url = https://github.com/nlohmann/json.git
