[submodule "3rd/spdlog"]
	path = 3rd/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rd/doctest"]
	path = 3rd/doctest
	url = https://github.com/doctest/doctest.git
[submodule "3rd/glob"]
	path = 3rd/glob
	url = https://github.com/p-ranav/glob.git
[submodule "3rd/UniversalStacktrace"]
	path = 3rd/UniversalStacktrace
	url = https://github.com/MisterTea/UniversalStacktrace.git
