name: Linux GCC

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_with_gcc:
    strategy:
      matrix:
        gcc_version: [ 10, 11, 12 ]
        mode: [ Release, Debug ]
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - name: deps
        run: |
          sudo apt install -y build-essential
          sudo apt install -y gcc-${{matrix.gcc_version}} g++-${{matrix.gcc_version}}

      - name: Clone Deps
        run: git submodule update --init
        working-directory: ${{github.workspace}}

      - name: Install ninja-build tool
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ matrix.mode}}-gcc${{ matrix.gcc_version}}

      - name: Configure CMake
        run: CXX=g++-${{matrix.gcc_version}} CC=gcc-${{matrix.gcc_version}} cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.mode}} -G Ninja -DUSE_CCACHE=ON

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{matrix.mode}} -j --verbose

      - name: Test
        working-directory: ${{github.workspace}}/build/test
        run: ctest -C ${{env.BUILD_TYPE}} --output-on-failure
