name: Linux Bazel

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build_with_bazel:
    runs-on: [ ubuntu-22.04 ]

    steps:
      - uses: actions/checkout@v3

      - name: Mount bazel cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/bazel
          key: ${{ runner.os }}-bazel-${{ hashFiles('.bazelversion', '.bazelrc', 'WORKSPACE', 'WORKSPACE.bazel', 'MODULE.bazel') }}
          restore-keys: |
            ${{ runner.os }}-bazel-

      - name: Build
        run: bazel build \:all

      - name: Test
        run: bazel test \:all --test_output=errors

      - name: Build Android App
        run: bazel build //android/app/src/main:app --android_crosstool_top=@androidndk//:toolchain --fat_apk_cpu=arm64-v8a

      - name: Upload apk
        uses: actions/upload-artifact@v3
        with:
          name: android-pscm
          path: |
            bazel-bin/android/app/src/main/app_deploy.jar
            bazel-bin/android/app/src/main/app_unsigned.apk
            bazel-bin/android/app/src/main/app.apk

      - name: Build wasm
        run: bazel build //wasm:pscm-wasm -c opt

      - name: Upload wasm
        uses: actions/upload-artifact@v3
        with:
          name: linux-pscm-wasm
          path: bazel-bin/wasm/
