name: Linux Clang

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_with_clang:
    strategy:
      matrix:
        mode: [ Release, Debug ]
    runs-on: [ ubuntu-22.04 ]

    steps:
      - uses: actions/checkout@v4

      - name: Install LLVM16
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 16
          sudo apt-get install clang-tools-16
      - name: Use LLVM16
        run: |
          sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-16 100
          sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-16 100
          sudo update-alternatives --install /usr/bin/clang-scan-deps clang-scan-deps /usr/bin/clang-scan-deps-16 100
          sudo update-alternatives --config cc
      - name: Check LLVM
        run: |
          clang --version

      - name: Check CMake
        run: |
          cmake --version
          
      - name: deps
        run: |
          sudo apt-get install -y build-essential
          sudo apt-get install -y libsdl2-dev libsdl2-ttf-dev libsdl2-image-dev libsdl2-mixer-dev

      - name: Clone Deps
        run: git submodule update --init
        working-directory: ${{github.workspace}}

      - name: Install ninja-build tool
        uses: seanmiddleditch/gha-setup-ninja@master
        with:
          version: "1.11.1"

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ matrix.mode}}

      - name: Configure CMake
        run: CXX=clang++-16 CC=clang-16 cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.mode}} -G Ninja -DUSE_CCACHE=ON

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{matrix.mode}} -j --verbose

      - name: Test
        working-directory: ${{github.workspace}}/build/test
        run: ctest -C ${{matrix.mode}} --output-on-failure
      

      - name: Configure CMake with C++20 Modules
        run: CXX=clang++-16 CC=clang-16 cmake -B ${{github.workspace}}/build2 -DCMAKE_BUILD_TYPE=${{matrix.mode}} -G Ninja -DUSE_CCACHE=ON -DPSCM_USE_CXX20_MODULES=ON

      - name: Build
        run: cmake --build ${{github.workspace}}/build2 --config ${{matrix.mode}} -j --verbose

      - name: Test
        working-directory: ${{github.workspace}}/build2/test
        run: ctest -C ${{matrix.mode}} --output-on-failure
      
      - name: Check
        working-directory: ${{github.workspace}}/build2
        run: ninja check-base check-cont check-sicp
