name: Linux Clang (xmake)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        mode: [ debug, release ]
    runs-on: [ ubuntu-22.04 ]

    steps:
      - uses: actions/checkout@v3

      - name: cache xmake
        uses: actions/cache@v2
        with:
          path: |
            ${{github.workspace}}/build/.build_cache
            /home/runner/.config/.xmake
          key: ${{ runner.os }}-xmake-${{ hashFiles('**/xmake.lua') }}
    
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: v2.7.7
          actions-cache-folder: '.xmake-cache'

      - name: Build
        run: |
          xmake config --yes --mode=${{matrix.mode}} --cc=clang --cxx=clang++
          xmake build --jobs=8

      - name: Test
        working-directory: ${{github.workspace}}/build/test
        run: xmake run --group=tests
      
