name: Linux pscm-build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_with_clang:
    strategy:
      matrix:
        mode: [ Debug ]
    runs-on: [ ubuntu-22.04 ]

    steps:
      - uses: actions/checkout@v3

      - name: Install LLVM
        run: sudo apt-get install llvm -y

      - name: Clone Deps
        run: git submodule update --init
        working-directory: ${{github.workspace}}

      - name: Install ninja-build tool
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Configure CMake
        run: CXX=clang++ CC=clang cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.mode}} -G Ninja

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{matrix.mode}} -j --verbose

      - name: Build with pscm-build
        working-directory: ${{github.workspace}}
        run: CC=/usr/bin/clang ${{github.workspace}}/build/tool/pscm-build/src/pscm-build build :all
      