name: MacOS

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_on_macos:
    runs-on: macos-12
    strategy:
      matrix:
        mode: [ Release, Debug ]

    steps:
      - uses: actions/checkout@v3

      - name: Clone Deps
        run: git submodule update --init
        working-directory: ${{github.workspace}}

      - name: Install LLVM
        run: env HOMEBREW_NO_AUTO_UPDATE=1 brew install llvm

      - name: Install Ninja
        run: env HOMEBREW_NO_AUTO_UPDATE=1 brew install ninja

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ matrix.mode}}
      - name: Check CMake
        run: cmake --version

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.mode}} -G Ninja -DUSE_CCACHE=ON

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{matrix.mode}} --verbose -j

      - name: Test
        working-directory: ${{github.workspace}}/build/test
        run: ctest -C ${{env.BUILD_TYPE}} --output-on-failure

      # CMake 3.27 is broken when building with C++20 Modules
      - name: Download CMake 3.26
        run: |
          wget -q https://github.com/Kitware/CMake/releases/download/v3.26.5/cmake-3.26.5-macos-universal.tar.gz
          tar zxf cmake-3.26.5-macos-universal.tar.gz
          ./cmake-3.26.5-macos-universal/CMake.app/Contents/bin/cmake --version

      - name: Configure CMake with C++20 Modules
        run: CXX=/usr/local/opt/llvm/bin/clang++ CC=/usr/local/opt/llvm/bin/clang ./cmake-3.26.5-macos-universal/CMake.app/Contents/bin/cmake -B ${{github.workspace}}/build2 -DCMAKE_BUILD_TYPE=${{matrix.mode}} -DCMAKE_MAKE_PROGRAM=/usr/local/bin/ninja -G Ninja -DUSE_CCACHE=ON -DPSCM_USE_CXX20_MODULES=ON

      - name: Build with C++20 Modules
        run: ./cmake-3.26.5-macos-universal/CMake.app/Contents/bin/cmake --build ${{github.workspace}}/build2 --config ${{matrix.mode}} --verbose -j

      - name: Test with C++20 Modules
        working-directory: ${{github.workspace}}/build2/test
        run: ${{github.workspace}}/cmake-3.26.5-macos-universal/CMake.app/Contents/bin/ctest -C ${{env.BUILD_TYPE}} --output-on-failure

      - name: Build with pscm-build
        run: CC=/usr/local/opt/llvm/bin/clang ${{github.workspace}}/build2/tool/pscm-build/src/pscm-build build :all
