name: MacOS Bazel

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_with_bazel:
    runs-on: macos-12

    steps:
      - uses: actions/checkout@v3

      - name: Clone Deps
        run: git submodule update --init
        working-directory: ${{github.workspace}}

      - name: Mount bazel cache
        uses: actions/cache@v3
        with:
          path: "/private/var/tmp/_bazel_runner"
          key: ${{ github.job }}-bazel-cache

      - name: Build
        run: bazel build \:all

      - name: Test
        run: bazel test \:all --test_output=errors

      - name: Build ios App
        run: bazel build //ios/app:ios-app

      - uses: actions/upload-artifact@v3
        with:
          name: ios-pscm
          path: |
            bazel-bin/ios/app/ios-app.runfiles/dev_pscm/ios/app/ios-app.ipa

      - name: Build wasm
        run: bazel build //wasm:pscm-wasm

      - uses: actions/upload-artifact@v3
        with:
          name: macos-pscm-wasm
          path: bazel-bin/wasm/