name: MacOS

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_on_macos:
    runs-on: macos-15
    strategy:
      matrix:
        mode: [ Release, Debug ]

    steps:
      - uses: actions/checkout@v4

      - name: Install Ninja
        run: env HOMEBREW_NO_AUTO_UPDATE=1 brew install ninja

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ matrix.mode}}
      - name: Check CMake
        run: cmake --version

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.mode}} -G Ninja

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{matrix.mode}} --verbose -j

      - name: Test
        working-directory: ${{github.workspace}}/build/test
        run: ctest -C ${{matrix.mode}} --output-on-failure
