name: Windows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_on_windows:
    runs-on: windows-2022

    strategy:
      matrix:
        # FIXME: Debug Assertion failed: string subscript out of range
        # mode: [ Debug, Release ]
        mode: [ Release ]
        arch: [ x86, x64 ]

    steps:
      - uses: actions/checkout@v3

      - name: Clone Deps
        run: git submodule update --init
        working-directory: ${{github.workspace}}
        
      - name: Install icu
        run: vcpkg install icu

      - name: Install ninja-build tool
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1.12.0
        with:
          arch: ${{ matrix.arch }}

      - name: Set PKG_CONFIG_PATH
        run: setx PKG_CONFIG_PATH C:/vcpkg/packages/icu_x86-windows/lib/pkgconfig
      - name: Check PKG_CONFIG_PATH
        run: echo %PKG_CONFIG_PATH%

      - name: Generate Project
        run: cmake -B build -DCMAKE_BUILD_TYPE=${{ matrix.mode }} -G Ninja

      - name: Build
        run: cmake --build build --config ${{ matrix.mode }} --verbose

      - name: Test
        working-directory: ${{github.workspace}}/build/test
        run: ctest -C ${{ matrix.mode }} --output-on-failure
