name: Windows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_with_cmake:
    runs-on: windows-2022

    strategy:
      matrix:
        mode: [ Debug, Release ]
        arch: [ x86, x64 ]

    steps:
      - uses: actions/checkout@v3

      - name: Clone Deps
        run: git submodule update --init
        working-directory: ${{github.workspace}}

      - name: Install ninja-build tool
        uses: seanmiddleditch/gha-setup-ninja@master

      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1.12.0
        with:
          arch: ${{ matrix.arch }}

      - name: Generate Project
        run: cmake -B build -DCMAKE_BUILD_TYPE=${{ matrix.mode }} -G Ninja

      - name: Build
        run: cmake --build build --config ${{ matrix.mode }} --verbose

      - name: Test
        working-directory: ${{github.workspace}}/build/test
        run: ctest -C ${{ matrix.mode }} --output-on-failure
